
.footer-icon{
    width: 30%;
    text-align: center;
}
/*margin for the icons in the footer*/
.bottom{
 margin-left: 7%;
}
 .header {
        color: #36A0FF;
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 35px;
        color: #36A0FF;
}
.resizecontainer{
    width: 100%;
    padding-left: 90px;
    margin-top: -20px;
}
/*###########======  Index logo =====################*/
/*###########            ===styles=====      ################*/
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}
.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

img.logo1{
    margin: 0 auto; 
}

#intro { 
    background: url(../images/bogus1.jpg) fixed;
    background-repeat: none;
    background-size: cover; 
    height: 800px;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 50px 0 10px 10%;

}
#home { 
    background: url(../images/outside_dev.jpg) fixed;
    background-repeat: none;
    background-size: 100% auto; 
    height: 800px;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}
.jumbotron{ 
    background: url(../images/Retro-pattern-background-3.jpg) 50% 0 fixed; 
    height: auto;
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    color: #000;
    text-align: center;
}
.bio_block{
    background-color: white;
    height:500px;
}
#about { 
    background: url(../images/skulls.png) 50% 0 fixed; 
    height: auto;
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
    color: #5c7782;
}
.box1{
    height: 650px;
    width:100%;
    
}
.box2{
    height: 250px;
    width:100%;
    
}
.box3{
    height: 250px;
    width:100%;
    background-color:green;
}
.navbar-nav>li>a{
    color:#5c7782;
}
.slogan{
   color:#5c7782;
   text-align:center; 
   margin-top: 50px;
}
/*###########======  navigation styles =====################*/
/*###########            ===styles=====      ################*/
.navbar{
    max-width: 90px;
}
.navbar-nav>li {
     color:#5c7782;
     float: none; 
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
    margin-left: 33%;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -22px;
    /* border: 0px; */
    line-height: 1px;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    width: 100%;
}
.navbar-nav {
    margin: 101.5px -9px;
    font-size: 1.1em;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
     margin-right: 0px; 
     margin-left: 0px; 
     border: 0px; 
    line-height: 1px;
}
/*contact page styles*/
.well{
    height: 600px;
    margin: 200px auto;
    border: none;
    color:green;
}
.contactContainer{
    background-image: url(../images/4Bikes.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}


/* Queries*/
@media(max-width: 709px){
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
}
}

h1{
    font-size: 2.2em;
    text-align: center;
    color: white;
}
/*======= nav bar styling =========*/
.navbar{
    max-width: 90px;
    position: fixed;
    top: 0;
}
.navbar-nav>li {
     float: none; 
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #fff;
    margin-left: 33%;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: -15px;
    margin-left: -22px;
    line-height: 1px;
}
.navbar-inverse .navbar-toggle {
    border-color: #333;
    width: 100%;
}
.navbar-nav {
    margin: 40px -9px;
    font-size: 1.1em;
}
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-right: 0px; 
    margin-left: 0px; 
    border: 0px;
    line-height: 1px;
}
/*============= start of resize of the container =======*/
.resizeContainer {
    width: 100%;
    margin-top: -20px;
    position: relative;
    
}
.navbar-inverse .navbar-nav>li>a {
    color: #5c7782;
    font-size: 1.1em;
    font-variant: small-caps;
}

/*================== media querries start============== */    
@media(max-width: 821px){
   /* #logo{
        position: absolute;        
        top: 60px;
        left: 20%;
    }*/
    .footer-icon{
    width: 70%;
    text-align: center;
}

}
/*======== tablets all sizes ==========*/
@media(max-width: 709px){
h1{
    text-align: left;
    margin-left: 3%;
    }
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 0px;
    }

.footer-icon{
    width: 80%;
}

}

/*============ landscape styles for iphone 6-5 =============*/
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
and (orientation : landscape) {
  
    /*====== stretch navbar 100% screen height ====== */
    .navbar-inverse {
    font-size: 1.1em;
    height: 100%;
}

}
@media(max-width: 450px){
.navbar{
    height: 0%;
    font-size: 1.5em;
    line-height: 1;
    color: black;
}
}